<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net452" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Serenity.Core" version="2.6.4" targetFramework="net452" />
  <package id="Serenity.Data" version="2.6.4" targetFramework="net452" />
  <package id="Serenity.Data.Entity" version="2.6.4" targetFramework="net452" />
  <package id="Serenity.Services" version="2.6.4" targetFramework="net452" />
</packages>